{
    "ABSOLUTE_DATASETS_PATH": "/home/koays/data",
    "DATASET_FOLDER": "",
    "DATASET_IDENTIFIER": "FaceTest",
    "IMAGE_FOLDER_NAME": "Images",
    "ANNOTAION_FOLDERNAME": "Annotations",
    "IMAGE_EXTENSION": "png",
    "TEST_CLASSES": ["face"],
    "CAFFE_EXECUTION_COUNT":0,
    "BATCH_SIZE": 8,
    "TRAINING_ITERATIONS": 1000,
    "PROJECT_NAME": "face_test_cuda12",
    "TEST_SET_PERCENTAGE": 10,
    "ABSOLUTE_PATH_NETWORK": "/home/koays/software/IIS_Object_Detection/template/MobileNet-SSD",
    "PRETRAINED_NETWORK_FILE": "mobilenet_iter_73000.caffemodel",
    "ABSOLUTE_OUTPUT_PROJECT_PATH": "/home/koays/data",
    "PATH_TO_CONVERT_ANNOSET_DOT_EXE": "/opt/movidius/caffe/build/tools/convert_annoset",
    "PATH_TO_GET_IMAGE_SIZE_DOT_EXE": "/opt/movidius/caffe/build/tools/get_image_size",
    "PATH_TO_CAFFE_DOT_EXE": "/opt/movidius/caffe/build/tools/caffe",
    "CONTINUE_TRAINING": false
}
