{
    "ABSOLUTE_DATASETS_PATH": "/home/koays/data",
    "DATASET_FOLDER": "",
    "DATASET_IDENTIFIER": "mouse_snout_tail",
    "IMAGE_FOLDER_NAME": "images",
    "ANNOTAION_FOLDERNAME": "annotations",
    "IMAGE_EXTENSION": "png",
    "TEST_CLASSES": ["mouse", "snout", "tail"],
    "CAFFE_EXECUTION_COUNT":0,
    "BATCH_SIZE": 24,
    "TRAINING_ITERATIONS": 2000,
    "PROJECT_NAME": "mouse_snout_tail",
    "TEST_SET_PERCENTAGE": 3,
    "ABSOLUTE_PATH_NETWORK": "/home/koays/software/IIS_Object_Detection/template/MobileNet-SSD",
    "PRETRAINED_NETWORK_FILE": "mobilenet_iter_73000.caffemodel",
    "ABSOLUTE_OUTPUT_PROJECT_PATH": "/home/koays/projects",
    "PATH_TO_CONVERT_ANNOSET_DOT_EXE": "/home/koays/software/caffe-ssd/build/tools/convert_annoset",
    "PATH_TO_GET_IMAGE_SIZE_DOT_EXE": "/home/koays/software/caffe-ssd/build/tools/get_image_size",
    "PATH_TO_CAFFE_DOT_EXE": "/home/koays/software/caffe-ssd/build/tools/caffe",
    "CONTINUE_TRAINING": false
}
